# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
.venv-1/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Python cache
.pytest_cache/
.mypy_cache/

# Streamlit
.streamlit/secrets.toml

# Logs
*.log

# Temporary files
*.tmp

# Local environment files
.env
.env.*

# Model/runtime cache
*.cache

# Large raw datasets
data/raw/tranco_GQJ9K.csv

data/raw/1.Benign_list_big_final.csv
data/raw/2.online-valid.csv